# =============================================================================
# Arquivos e Pastas do Laravel
# =============================================================================

# Dependências
/node_modules
/vendor

# Diretório Público
/public/build
/public/hot
/public/storage

# Diretório de Storage
/storage/framework
/storage/logs
/storage/app/public
/storage/pail
/storage/*.key
/storage/coverage

# Cache do PHPUnit
/.phpunit.cache
.phpunit.result.cache

# Cache de SSR do Inertia
/bootstrap/ssr

# =============================================================================
# Arquivos de Ambiente e Sensíveis
# =============================================================================
.env
.env.backup
.env.production

# =============================================================================
# Arquivos de Ferramentas de Desenvolvimento e IDEs
# =============================================================================

# IDEs e Editores
/.idea
/.vscode
/.fleet
/.zed

# Ferramentas de Desenvolvimento Local
Homestead.json
Homestead.yaml
.phpactor.json
auth.json

# Logs de Erro
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# =============================================================================
# Arquivos Personalizados do Boilerplate
# =============================================================================

# Flag de controle de instalação do nosso ambiente Docker
storage/installed.flag
